Repository trimble-oss/website-modus.trimble.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coliff, @egunther39, @enowak1031, @mjohnsnz

.github/CODEOWNERS:

# About CODEOWNERS

## https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

## Folders

/assets/                       @coliff
/content/                      @coliff @egunther39 @enowak1031
/content/components/in-field/  @mjohnsnz
/layouts/                      @coliff
/static/                       @coliff
/static/img/in-field/          @mjohnsnz

## File Types

*.html      @coliff
*.js        @coliff
*.md        @coliff @egunther39 @enowak1031
*.scss      @coliff
*.xml       @coliff

Updates Labels for forms and Alerts styles
  assets/styles/styles.scss
  content/components/web/alerts/_index.md
  content/components/web/alerts/styles.md
  content/components/web/rich-text-format-editor/styles.md
  package-lock.json
  package.json
Owners: @coliff, @egunther39, @enowak1031

Update styles.scss
  assets/styles/styles.scss
Owners: @coliff

Update styles.md
  content/components/web/alerts/styles.md
Owners: @coliff, @egunther39, @enowak1031

Update styles.md
  content/components/web/alerts/styles.md
Owners: @coliff, @egunther39, @enowak1031

Update _index.md
  content/components/web/alerts/_index.md
Owners: @coliff, @egunther39, @enowak1031

Remove unused toast styles
  content/components/web/toasts/styles.md
  package-lock.json
  package.json
Owners: @coliff, @egunther39, @enowak1031

Update styles.md
  content/components/web/toasts/styles.md
Owners: @coliff, @egunther39, @enowak1031

Update Toasts examples / docs
  content/components/web/toasts/_index.md
  content/components/web/toasts/styles.md
  hugo.yml
  package-lock.json
  package.json
Owners: @coliff, @egunther39, @enowak1031

update MB2
  package-lock.json
  package.json
Owners: none

Fix URL on device-support page
  content/developers.md
  content/device-support.md
  layouts/partials/menu-right.html
Owners: @coliff, @egunther39, @enowak1031

update MB2
  package-lock.json
  package.json
Owners: none

update example
  .nvmrc
  content/components/web/toasts/_index.md
  package-lock.json
  package.json
Owners: @coliff, @egunther39, @enowak1031

Style Guide Updates
  content/components/in-field/buttons/accessibility.md
  content/components/in-field/buttons/styles.md
  content/components/mobile/buttons/accessibility.md
  content/components/mobile/buttons/styles.md
  content/components/web/buttons/accessibility.md
  content/components/web/buttons/styles.md
  content/components/web/inputs/styles.md
  content/components/web/messages/styles.md
  content/components/web/sliders/styles.md
  content/components/web/spinners/styles.md
  content/components/web/switches/styles.md
  content/components/web/tabs/styles.md
  content/components/web/tooltips/styles.md
Owners: @coliff, @egunther39, @enowak1031

Fix tertiary badge text color
  assets/styles/_ie11.scss
  assets/styles/_menu-right.scss
  content/components/web/badges/_index.md
  layouts/partials/menu-right.html
Owners: @coliff, @egunther39, @enowak1031

update navbar search
  assets/styles/_navbar-search.scss
  layouts/partials/navbar-search.html
Owners: @coliff

Update styles.md
  content/components/web/toasts/styles.md
Owners: @coliff, @egunther39, @enowak1031

Lint Fixes
  .github/workflows/super-linter.yml
  .nvmrc
  CONTRIBUTING.md
  content/components/mobile/accordions/_index.md
  content/components/web/tables/styles.md
  content/news/2021-04-15-usability-inspection-methods.md
  package-lock.json
  package.json
Owners: @coliff, @egunther39, @enowak1031

Sonar Fixes
  .github/workflows/sonar-scan.yml
  layouts/_default/_markup/render-heading.html
  layouts/_default/_markup/render-link.html
  layouts/partials/related-content.html
  layouts/partials/trimble-logo.html
  layouts/shortcodes/card-start.html
  layouts/shortcodes/ico-check.html
Owners: @coliff

Update super-linter.yml
  .github/workflows/super-linter.yml
Owners: none

Update styles.md
  content/components/web/rich-text-format-editor/styles.md
Owners: @coliff, @egunther39, @enowak1031

RTF Editor Updates
  .cspell.json
  .markuplintrc.json
  content/components/web/rich-text-format-editor/_index.md
  content/components/web/rich-text-format-editor/styles.md
  layouts/shortcodes/demo-rtf-editor.html
  layouts/shortcodes/placeholder.html
  package-lock.json
  package.json
Owners: @coliff, @egunther39, @enowak1031

Add Style Specs to Toolbar
  content/components/web/toasts/styles.md
  content/components/web/toolbar/styles.md
Owners: @coliff, @egunther39, @enowak1031

Dev Deps Updates
  layouts/_default/_markup/render-link.html
  layouts/shortcodes/iframe.html
  package-lock.json
  package.json
Owners: @coliff
