Repository trimble-oss/website-modus.trimble.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coliff, @egunther39, @enowak1031, @mitch-trimble, @mjohnsnz

Add MWC v1 post
  .cspell.json
  content/news/2024-11-27-modus-web-components.md.md
  static/img/blog/headers/2024-11-27-mwc.jpg
  static/img/icons/netlify.svg
  static/img/news/austin-oneil.jpg
Owners: @coliff, @egunther39, @enowak1031, @mitch-trimble

URL update
  content/news/2024-11-27-modus-web-components.md
Owners: @coliff, @egunther39, @enowak1031, @mitch-trimble

Update 2024-11-27-modus-web-components.md
  content/news/2024-11-27-modus-web-components.md
Owners: @coliff, @egunther39, @enowak1031, @mitch-trimble

Docs updates
  .github/copilot-instructions.md
  content/components/web/wizard/_index.md
  content/components/web/wizard/accessibility.md
  content/components/web/wizard/styles.md
  data/menu.yml
Owners: @coliff, @egunther39, @enowak1031, @mitch-trimble

Bump cross-spawn dev dependency
  hugo.yml
  package-lock.json
Owners: none

Fixes
  .textlintrc.json
  hugo-dev.yml
  package-lock.json
  package.json
Owners: none

Fixes
  .nvmrc
  .vscode/settings.json
  content/components/web/tooltips/accessibility.md
Owners: @coliff, @egunther39, @enowak1031, @mitch-trimble

Hide 3D link
  .vscode/settings.json
  content/foundations/modus-3d.md
  package-lock.json
  package.json
Owners: @coliff, @egunther39, @enowak1031, @mitch-trimble

Update CSS
  assets/styles/_article.scss
  assets/styles/_cards.scss
  assets/styles/_col-sidebar.scss
  assets/styles/_mobile.scss
  assets/styles/_mq-forced-colors.scss
  assets/styles/_news.scss
  assets/styles/_sidebar.scss
  assets/styles/_theme-toggle.scss
  assets/styles/styles.scss
  layouts/_default/components.html
  layouts/_default/home.html
  layouts/_default/list.html
  layouts/_default/single.html
  layouts/partials/meta.html
  layouts/partials/navbar-theme-toggle.html
  layouts/partials/navbar.html
  postcss.config.js
Owners: @coliff

Update .whitesource
  .whitesource
Owners: none

Alerts: Add example alert description
  content/components/web/alerts/styles.md
Owners: @coliff, @egunther39, @enowak1031, @mitch-trimble

Update PurgeCSS
  .nvmrc
  package-lock.json
  package.json
  postcss.config.js
Owners: @coliff

Alerts: Add example alert description
  content/components/web/alerts/styles.md
Owners: @coliff, @egunther39, @enowak1031, @mitch-trimble

Add Further Reading link to accessibility pages
  assets/styles/_sidebar.scss
  content/components/web/accordions/accessibility.md
  content/components/web/alerts/accessibility.md
  content/components/web/autocomplete/accessibility.md
  content/components/web/breadcrumbs/accessibility.md
  content/components/web/buttons/accessibility.md
  content/components/web/checkboxes/accessibility.md
  content/components/web/date-time-picker/accessibility.md
  content/components/web/lists/accessibility.md
  content/components/web/modals/accessibility.md
  content/components/web/radio-buttons/accessibility.md
  content/components/web/rich-text-format-editor/accessibility.md
  content/components/web/sliders/accessibility.md
  content/components/web/switches/accessibility.md
  content/components/web/tables/accessibility.md
  content/components/web/tabs/accessibility.md
  content/components/web/toolbar/accessibility.md
  content/components/web/tooltips/accessibility.md
Owners: @coliff, @egunther39, @enowak1031, @mitch-trimble

.github/CODEOWNERS:

# About CODEOWNERS

## https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

## Folders

/assets/                       @coliff
/content/                      @coliff @egunther39 @enowak1031 @mitch-trimble
/content/components/in-field/  @mjohnsnz
/layouts/                      @coliff
/static/                       @coliff
/static/img/in-field/          @mjohnsnz

## File Types

*.html      @coliff
*.js        @coliff
*.md        @coliff @egunther39 @enowak1031 @mitch-trimble
*.scss      @coliff
*.xml       @coliff
